@page "/"

<h1>Ochrona danych</h1>
<h3>Informatyka WE (niestacjonarne) - Projekt: Implementacja blockchain</h3>
<h4>Semestr IX</h4>
<h5>
    Zespół projektowy:<br/>
    Michał Rychlik, numer albumu 136055<br/>
    Kornel Kaczmarek, numer albumu 138166<br/>
    Adam Sołczak, numer albumu 126070<br/>
    Adam Sibila, numer albumu 138184<br/>
</h5>
<h7>22 styczeń 2022</h7>

